.all
{
    text-align: center;
}

.photo:hover
{
    border: black solid 3px;
}

.photo
{
    border: azure solid 3px;
    height: 90%;
    width: 90%;
}

.cat:hover
{
    border: aqua solid 2px;
}

.cat
{
    border: white solid 2px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    min-height: 200px;
    width: 270px;
    background-color: azure;
    text-align: center;
}

.cat-name
{
    border: azure solid 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    margin: 5px;
}

.cat-name:hover
{
    border: red solid 1px;
}

.min-info:hover, .max-info:hover
{
    border: black solid 2px;
}

.min-info, .max-info
{
    border: azure solid 2px;
    text-align: left;
    padding: 5px;
}

input[value='list']:checked ~ .all .cat
{
    display: block;
    width: 60%;
}

input[value='tile']:checked ~ .all .cat .max-info
{
    display: none;
}
